#note {
  position: absolute;
  color: #feb729;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
  font-family: Arial;
}
#note1 {
  position: absolute;
  color: #feb729;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
  font-family: Arial;
}
